lmdb==1.3.0
pathtools==0.1.2
wrapt==1.17.0
structlog==24.4.0
open_clip_torch==2.32.0
aiofiles==23.2.1
et_xmlfile==2.0.0
nvidia-cublas-cu11==11.10.3.66
azure-identity==1.19.0
aliyun-python-sdk-core==2.16.0
semantic-version==2.10.0
llamafactory==0.9.1.dev0
mdurl==0.1.2
uc-micro-py==1.0.3
wavedrom==2.0.3.post3
ninja==1.11.1.4
azure-storage-blob==12.24.0
prettytable==3.16.0
asteval==1.0.5
azure-ai-ml==1.22.4
typing-inspection==0.4.1
qwen-vl-utils==0.0.11
azure-mgmt-core==1.5.0
nvidia-cudnn-cu11==8.5.0.96
sshpubkeys==3.3.1
azure-storage-file-share==12.20.0
shapely==2.0.7
azure-storage-file-datalake==12.18.0
petname==2.7.post1
fire==0.7.0
geojson==3.0.1
python-dotenv==1.1.0
typeguard==4.4.2
dill==0.3.7
azure-mgmt-containerregistry==10.3.0
crcmod==1.7
sse-starlette==2.4.1
openxlab==0.1.2
pyyaml_env_tag==0.1
ruamel.yaml.clib==0.2.12
hf_transfer==0.1.9
nvidia-cuda-nvrtc-cu11==11.7.99
pydash==8.0.4
azure-mgmt-storage==21.2.1
pyogrio==0.11.0
azure-keyvault==4.2.0
Mako==1.3.6
click-option-group==0.5.6
oss2==2.17.0
aliyun-python-sdk-kms==2.16.5
av==14.3.0
click-plugins==1.1.1
msrest==0.7.1
pynvml==12.0.0
geographiclib==2.0
mdit-py-plugins==0.3.3
google-api-core==2.23.0
model-index==0.1.11
h3==4.1.2
promise==2.3
msal-extensions==1.2.0
pyperclip==1.9.0
pycocotools==2.0.7
isodate==0.7.2
mmsegmentation==1.2.2
trl==0.9.6
azure-keyvault-secrets==4.9.0
ecdsa==0.19.0
ordered-set==4.1.0
docker-pycreds==0.4.0
httptools==0.6.4
llava==1.7.0.dev0
xdg==6.0.0
pydub==0.25.1
docstring_parser==0.16
einops-exts==0.0.4
geopy==2.4.1
passpy==1.0.2
azure-core==1.32.0
googleapis-common-protos==1.66.0
propcache==0.3.1
mpmath==1.3.0
Flask-Cors==5.0.0
proto-plus==1.25.0
tyro==0.9.19
opencensus-ext-azure==1.1.13
markdown2==2.5.3
azure-data-tables==12.4.0
ipdb==0.13.13
nvidia-ml-py==12.570.86
rich-click==1.8.5
shortuuid==1.0.13
geopandas==1.0.1
deepspeed==0.14.2
shellingham==1.5.4
tiktoken==0.9.0
bitstring==4.2.3
ftfy==6.0.1
opencensus-context==0.1.3
python-gnupg==0.5.3
openpyxl==3.1.2
aiohappyeyeballs==2.6.1
addict==2.4.0
azure-containerregistry==1.0.0
uvloop==0.21.0
opencensus==0.11.4
opendatalab==0.0.10
shtab==1.7.2
amlt==10.8.1.dev0+gf3422aee.d20241112
py-cpuinfo==9.0.0
rouge-chinese==1.0.3
decord==0.6.0
azure-keyvault-keys==4.10.0
pathspec==0.12.1
azure-keyvault-certificates==4.9.0
opencensus-ext-logging==0.1.1
clip==1.0
hjson==3.1.0
msal==1.31.1
strictyaml==1.7.3
watchfiles==1.0.5
ruamel.yaml==0.18.6
smmap==5.0.1
gitdb==4.0.11
jieba==0.42.1
tomli==2.2.1
Flask-Executor==1.0.0
bitarray==2.9.3
Flask-FontAwesome==0.1.5
azure-common==1.1.28
pyproj==3.6.1
cog==0.9.12
azure-mgmt-resource==23.2.0
latex2mathml==3.77.0
pycocoevalcap==1.2
pyquaternion==0.9.9
narwhals==1.46.0
braceexpand==0.1.7
marshmallow==3.15.0
jiter==0.10.0
multiprocess==0.70.15
eval_type_backport==0.2.2
svgwrite==1.4.3
nvidia-cuda-runtime-cu11==11.7.99
pycryptodome==3.22.0
linkify-it-py==2.0.3
humanize==4.11.0
libclang==18.1.1
Keras-Preprocessing==1.1.2
h5py==3.14.0
pytz==2025.2
markdown-it-py==2.2.0
tifffile==2021.11.2
jsonschema==4.25.1
tensorboard==2.20.0
jsonschema-specifications==2025.9.1
uvicorn==0.37.0
termcolor==3.1.0
charset-normalizer==3.4.3
imageio==2.13.3
cycler==0.12.1
packaging==25.0
regex==2025.9.18
astunparse==1.6.3
platformdirs==4.4.0
aiosignal==1.4.0
setuptools==78.1.1
tzdata==2025.2
tensorflow-gpu==2.7.0
grpcio==1.75.1
typing_extensions==4.15.0
opt_einsum==3.4.0
rpds-py==0.27.1
h11==0.16.0
gradio_client==1.3.0
fastapi==0.118.0
opencv-python==4.5.4.60
ffmpy==0.6.1
networkx==3.2.1
transformers==4.57.1
keras==2.7.0
async-timeout==5.0.1
wandb==0.22.2
scipy==1.7.3
torchaudio==0.10.0+cu111
einops==0.6.0
tqdm==4.67.1
fonttools==4.60.1
fsspec==2025.9.0
timm==0.6.11
kiwisolver==1.4.7
exceptiongroup==1.3.0
starlette==0.48.0
wheel==0.45.1
pip==25.2
sniffio==1.3.1
httpcore==1.0.9
idna==3.10
referencing==0.36.2
tensorflow-estimator==2.7.0
MarkupSafe==2.1.5
importlib_metadata==8.7.0
gradio==3.40.1
tokenizers==0.22.1
pydantic_core==2.33.2
torchvision==0.11.0+cu111
Markdown==3.9
GitPython==3.1.45
multidict==6.6.4
python-dateutil==2.9.0.post0
gast==0.4.0
pyparsing==3.2.5
safetensors==0.6.2
pandas==2.0.3
tensorboard-data-server==0.7.2
numpy==1.21.5
orjson==3.11.3
websockets==11.0.3
easydict==1.10
filelock==3.19.1
zipp==3.23.0
frozenlist==1.7.0
pydantic==2.11.10
altair==5.5.0
urllib3==2.5.0
yarl==1.20.1
importlib_resources==6.5.2
scikit-image==0.19.2
certifi==2025.10.5
huggingface-hub==0.35.3
Werkzeug==3.1.3
anyio==4.11.0
absl-py==2.3.1
httpx==0.28.1
six==1.17.0
Jinja2==3.1.6
aiohttp==3.12.15
PyYAML==6.0.3
requests==2.32.5
sentry-sdk==2.42.1
matplotlib==3.5.0
annotated-types==0.7.0
flatbuffers==2.0.7
torch==1.10.0+cu111
setuptools-scm==9.2.0
python-multipart==0.0.20
google-pasta==0.2.0
PyWavelets==1.4.1
click==8.1.8
tensorflow-io-gcs-filesystem==0.37.1
Pillow==9.0.1
protobuf==3.20.3
attrs==25.3.0
more-itertools==10.3.0
typeguard==4.3.0
packaging==24.2
typing_extensions==4.12.2
autocommand==2.2.2
backports.tarfile==1.2.0
zipp==3.19.2
importlib_metadata==8.0.0
wheel==0.45.1
tomli==2.0.1
jaraco.collections==5.1.0
jaraco.text==3.12.1
platformdirs==4.2.2
inflect==7.3.1
jaraco.functools==4.0.1
jaraco.context==5.3.0
